<!DOCTYPE html>
<html>

<head>
    <title>students api</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

    <script>
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                document.getElementsByClassName('tweet-container').innerHTML = xhr.responseText;
            }
        }
        xhr.open('GET', 'http://localhost:8000/tweets/');
        xhr.send();
    </script>


    <div class="container">
        <div class="row tweet-holder">

        </div>
    </div>

    <div class="tweet-container">
        This is the new container
    </div>

    <button id="test">Hello</button>


    <div>
        <h3>Want to Add a new tweet?</h3>

        <form id="submit-tweet" method="post">
            {% csrf_token %}
            <input type="text" name="tweet" id="tweet">
            <button type="submit" id="click-tweet">Tweet</button>
        </form>
    </div>

    <div class="container">
        <form method="get">
            <input type="text" name='search' id="tweet-search">
            <button type="submit" id="search-tweet">Search</button>
        </form>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        let getData = (apiUrl) => {
            console.log(apiUrl)
            $.ajax({
                url: apiUrl,
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    // console.log(JSON.stringify(data));
                    $.each(data, function (index, value) {
                        let tweet = value.tweet;
                        let time = value.added;
                        let url = value.url;
                        let id = value.id;
                        $('.tweet-holder').append(`
                        <div class="col-md-4 col-sm-6 p-2">
                            <div class="card botder border-primary rounded-0" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">${value.title}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">${value.added}</h6>
                                </div>
                            </div>
                        </div>
                        `);
                    });
                },
            });
        }


        // $(document).ready(function () {
        //     getData("http://localhost:8000/tweets/");
        // });

        $('#search-tweet').click(function(e) {
            e.preventDefault();
            let val = $('#tweet-search').val();
            getData(`http://localhost:8000/tweets?search=${val}`);
        })

        $("#submit-tweet").submit(function (e) {
            e.preventDefault();
            var apiUrl = "http://localhost:8000/tweets/";
            var data = {
                title: $('#tweet').val().trim(),
            };

            $.ajax({
                url: apiUrl,
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                crossDomain: false,
                data: JSON.stringify(data),
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    $.ajax({
                        url: "http://localhost:8000/tweets/",
                        dataType: "json",
                        type: 'GET',
                        success: function (data) {
                            $('.tweet-holder').append(`
                            <div class="col-md-4 col-sm-6 p-2">
                                <div class="card botder border-primary rounded-0" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">${data[0].title}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">${data[0].added}</h6>
                                    </div>
                                </div>
                            </div>
                            `);
                        },
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("some error " + String(errorThrown) + String(textStatus) + String(
                        XMLHttpRequest.responseText));
                    console.log("some error " + String(errorThrown) + String(textStatus) + String(
                        XMLHttpRequest.responseText));
                }
            });
        });

        // For single tweets

        function deleteTweet(tweetUrl) {
            $.ajax({
                url: tweetUrl,
                type: 'DELETE',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("some error " + String(errorThrown) + String(textStatus) + String(
                        XMLHttpRequest.responseText));
                    console.log("some error " + String(errorThrown) + String(textStatus) + String(
                        XMLHttpRequest.responseText));
                }
            });
        }

        function updateTweet() {
            console.log("UPdated");
        }

        $('#delete').click(function (e) {
            console.log(e.target.id);
        })
    </script>
</body>

</html>